@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: #5B2C83;
  --color-aqua: #2EC4B6;
  --color-accent: #D4A857;
  --color-white: #FFFFFF;

  /* Fonts */
  --font-heading: 'Cinzel', serif;
  --font-body: 'Poppins', sans-serif;
}

/* Typography system */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

p, span, li, a {
  font-family: var(--font-body);
}

